* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.populares {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 10px;
  height: 600px;
}
.description {
  display: flex;
  align-items: center;
}
